NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=pega_anon_key_local
SUPABASE_SERVICE_ROLE_KEY=pega_service_role_key_local
NEXT_PUBLIC_MESERO_AUTH_DOMAIN=mesero.malajunta.local
